@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

a {
	color: #ffdfc9;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

main {
  min-height: 100%;
}

footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 0.5em 1em;
  font-size: 1.2em;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.75);
  color: #fff;
  background-color: #2966b8;
}

.button:hover,
.button:focus {
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
}

.hidden {
  display: none;
}

.pill {
  text-align: center;
  font-size: 1.2em;
  border-radius: 1em;
  padding: 0 1em;
  background: linear-gradient(to bottom, rgba(41,102,184,0.7), rgba(41,102,184,1));
  color: #fff;
}

.sr-only {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.waiting {
  background-color: #ffdfc9;
  color: #000;
  cursor: wait;
}

#toaster {
  display: none;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 3em;
  background-color: rgba(0,0,0,0.75);
  justify-content: center;
  align-content: center;
  z-index: 100;
}

#toaster-message {
  flex-basis: calc(80% - 10px);
  color: #fff;
  text-align: left;
  font-size: 1.2em;
  padding: 5px;
}

#toaster-button {
  flex-basis: 20%;
  align-self: center;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1.2em;
    margin: 0;
    width: calc(100% - 40px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #006cc9;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  position: relative;
}

#mapoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#mapoverlay:hover,
#mapoverlay:focus {
  opacity: 1;
}

#mapoverlay span {
  padding: 10px;
  background-color: #000;
  font-weight: bold;
  border-radius: 2em;
}

/* =============== Restaurant Details/Summary common =============== */
.single-restaurant-details h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  margin: 10px;
  color: #2966b8;
}

.address {
  margin: 0 0 20px;
  font-size: 1.2em;
  align-self: center;
}

.address::before {
  content: "📌";
}

.restaurant-img {
  padding: 0;
  margin: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-toggle[aria-checked="true"]::after {
  content: "★ ";
  color: #da0;
}

.favorite-toggle[aria-checked="false"]::after {
  content: "☆ ";
  color: #000;
}

/* ====================== Restaurant Details ====================== */
.single-restaurant {
  width: calc(100% - 20px);
  padding: 0;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.single-restaurant-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.single-restaurant-details h1,
.single-restaurant-details h2,
.restaurant-details-img,
.single-map-container,
.single-opening-hours,
.single-reviews-container {
  width: 100%;
}

.single-restaurant-details .restaurant-img {
  margin: 0;
}

.restaurant-details-text {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  padding: 10px;
  width: calc(100% - 20px);
}

.cuisine {
  align-self: flex-end;
}

.single-opening-hours {
  margin: 0 0 10px 0;
}

.restaurant-hours {
  width: 100%;
  font-size: 1.2em;
}

.restaurant-hours tr:nth-child(odd) {
  background-color: #eee;
}

.restaurant-hours caption {
  background-color: #444;
  color: #fff;
}

.single-reviews-container {
  margin: 15px 0 0 0;
}

.single-reviews-container a,
.single-reviews-container a:visited {
  color: #000;
}

/* === Restaurant Reviews === */
.reviews-list {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 10px;
  font-size: 1.2em;
}

.reviews-list li {
  border-radius: 20px;
  border-bottom: 1px solid #d3d3d3;
  margin: 0 0 15px 0;
}

.review-header {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #c9dffd;
  padding: 0 15px;
  border-radius: 20px 20px 0 0;
}

.review-header p {
  font-weight: bold;
}

.review-body {
  padding: 5px;
  display: flex;
  flex-flow: column;
}

.review-body p {
  margin: 0;
  padding: 5px;
}

.review-body textarea {
  width: calc(100% - 10px);
  min-height: 100px;
}

.review-body .button-area {
  display: flex;
  flex-flow: column;
}

a.reviewbtn,
a.reviewbtn:visited {
  color: #fff;
  align-self: flex-end;
  margin: 0 10px 0 0;
}

input:invalid,
textarea:invalid {
  border: 2px dashed #f00;
}

.form-warning {
  display: none;
  color: #f00;
  width: 100%;
}

/* ===== Breakpoints ===== */

@media screen and (min-width: 500px) {
  .single-restaurant-details {
    order: 0;
    margin: 0 0 10px 0;
  }

  .single-restaurant-details .restaurant-img {
    flex-basis: 50%;
  }

  .single-restaurant-details .restaurant-img img {
    border-radius: 5px;
  }

  .restaurant-details-text {
    flex-basis: calc(50% - 20px);
  }

  .single-opening-hours {
    flex-basis: calc(50% - 10px);
    order: 2;
    margin: 0 0 0 10px;
  }

  .single-map-container {
    flex-basis: 50%;
    order: 1;
  }

  .single-reviews-container {
    order: 3;
  }

  .reviews-list li {
    width: 80%;
  }

  .reviews-list li:nth-child(even) {
    align-self: flex-end;
  }

}

@media screen and (min-width: 650px) {
  nav h1 a {
    font-size: 1.8em;
    letter-spacing: 10px;
  }

  .single-restaurant-details h1 {
    letter-spacing: 0.05em;
    font-size: 1.8em;
  }

}
